{{>header}}
{{>navbar}}
<section class="container my-5">
    <form method="post">
        <div class="mb-3">
            <input placeholder="title" name="title" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder="content" name="content" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder="date" name="date" class="form-control" type="date">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Add</button>
        </div>

    </form>
</section>
{{>footer}}