{{>header}}
{{>navbar}}
<section class="container my-5">
    <form method="post">
        <div class="mb-3">
            <input placeholder="title" name="title" class="form-control" value="{{post.title}}">
        </div>
        <div class="mb-3">
            <input placeholder="content" name="content" class="form-control" value="{{post.content}}">
        </div>
        <div class="mb-3">
            <input placeholder="date" name="date" class="form-control" type="date" value="{{post.date}}">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Edit</button>
        </div>
    </form>
</section>
{{>footer}}